<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matoski.adbm"
    android:versionCode="21"
    android:versionName="1.0.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.wifi" />

    <!-- SuperSU access -->
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />

    <!-- For when we start the phone -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- To be able to access the Internet, useful for Ads -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To be able to control the network state and check the WiFi state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- To prevent the system from going to sleep -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application 
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Main activity the main screen -->
        <activity
            android:name="com.matoski.adbm.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.matoski.adbm.activity.MyPreferencesActivity"
            android:label="@string/app_settings" />
        <activity
            android:name="com.matoski.adbm.activity.AboutActivity"
            android:label="@string/about" />
        <activity
            android:name="com.matoski.adbm.activity.ChangeLogActivity"
            android:label="@string/change_log" />
        <activity
            android:name="com.matoski.adbm.activity.WiFiListViewCheckboxesActivity"
            android:label="@string/app_wifi_list" />

        <!-- Execute on boot complete -->
        <receiver android:name="com.matoski.adbm.receiver.BootCompleteReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <!-- For detecting connection changes -->
        <receiver android:name="com.matoski.adbm.receiver.ConnectionDetectionReceiver" >
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- ADB Manager service -->
        <service
            android:name="com.matoski.adbm.service.ManagerService"
            android:description="@string/service_description"
            android:icon="@drawable/ic_launcher"
            android:label="@string/service_name" />

        <!-- Widget -->
        <receiver android:name="com.matoski.adbm.widgets.ControlWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/control_widget" />
        </receiver>

        <!-- For detecting if a new package has been installed on the system -->
        <receiver android:name="com.matoski.adbm.receiver.ActionPackageAdded" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>